.App {
  text-align: center;
  height: 100%;
}

.App-content {
  background-image: url(../src/img/princ.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
  color: rgba(14,174,87,1) ;
  padding: 16px;
}
.App-content-search {
  background-color: cadetblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
  color: black;
  padding: 16px;
}

.navbar {
  background: black;
}

.navbar-icon {
  width: 40px;
  border-radius: 40%;
}


.carusel-img{  
  min-width: 480px; 
  border-radius: 10%;  
}
.carusel-text{
  color: black;
}
.carusel-card:hover{
  box-shadow: 0 0 35px;
}
.Detail-body{  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: gold;
  background: url(../src/img/principal2.gif);
}
.Details{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;  
}
.Details-info{  
  height: 120%;
  border-radius: 6px;
  box-shadow: 0 10px 30px #000;  
  margin: 10px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(243, 243, 243, 0.2);  
}
.Details-img{
  margin: 10px;
}
.Details-imgs{  
  width: 120px;
  border-radius: 20%;
}
.Search-card{  
  height: 100%;
}
.Search-img{  
  height: 200px;
}