.App {
  text-align: center;
  height: 100%;
}

.App-content {
  background-image: url(../src/img/princ.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
  padding: 16px;
}

.navbar {
  background: black;
}

.navbar-icon {
  width: 40px;
  border-radius: 40%;
}

.home {
  background-image: url(../src/img/princ.gif);
  background-size: cover;
  height: 100%;
}
.carusel-img{
  width: 380px;  
}
.carusel-text{
  color: black;
}